<div id="approveDisapproveModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Approve/Disapprove</h5>
            </div>
            <div class="modal-body">
                <label id="suggestMsg"></label>
                <p id="suggesterName" hidden></p>
                <p id="playersOwnerCards" hidden></p>
                <div id="approveCheckboxes">

                </div>
            </div>
            <div class="modal-footer">
                <a id="game-submit-approval" type="button" class="btn btn-primary text-white">Confirm Selection</a>
            </div>
        </div>
    </div>
</div>