<div id="chooseOneApprovedCardModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Approve/Disapprove</h5>
            </div>
            <div class="modal-body">
                <label>Please choose one card to show to suggester.</label>
                <p id="suggesterNamePickOne" hidden></p>
                <div id="approvedCardsRadios">

                </div>
            </div>
            <div class="modal-footer">
                <a id="game-show-one-card-submit" type="button" class="btn btn-primary text-white">Confirm Selection</a>
            </div>
        </div>
    </div>
</div>