{% load static %}

<div id="chooseCharacterModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please select your game character</h5>
            </div>
            <div class="modal-body" id="charactersRadios">

            </div>
            <div class="modal-footer">
                <a id="game-player-chosen-submit" type="button" class="btn btn-primary text-white">Confirm Selection</a>
                <a href="/find_game" class="quit_game_button" class="btn btn-secondary"> Leave Game</a>
            </div>
        </div>
    </div>
</div>