<div class="modal fade" id="leaveGameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to leave this game?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>If the game is not started, you may rejoin this game.</p>
                <p>However, if the game is already started, doing so will give your cards to the rest of the
                    players in this lobby and you cannot rejoin this game.</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</a>
                <a class="btn btn-danger quit_game_button"> Leave Game</a>
            </div>
        </div>
    </div>
</div>