{% load static %}

<div id="showAvailableMoves" class="modal " tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Available moves to make</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background-color: #f8f9fa">
                <div class="form-group">
                    <b>Current Location: </b>
                    <div id="current_position">
                        You are at TEXT
                    </div>
                </div>
                <div class="form-group">
                    <label>Where would you like to move? </label>
                    <select class="form-control" id="availableMovesOptions">

                    </select>
                </div>
                <b>Map reference:</b>
                {% include "game/map.html" %}
{#                <img class="img-fluid" src="{%  static "images/clueless_map.PNG"%}" />#}
            </div>
            <div class="modal-footer">
                <a id="game-move-selection-submit" type="button" class="btn btn-primary text-white">Confirm Selection</a>
                <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>