.navbar {
    min-height: 70px;
}

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 7vw);
    grid-template-rows: repeat(5, 7vw);
}

.room-box {
    background: #576490;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position:relative;
}

.passageway-box {
    color: black;
    background-color: #f8f9fa;

    width: 15%;
    height: 15%;
}

.passageway-box.tl {
    position: absolute;
    bottom: 0;
    right: 0;
}

.passageway-box.tr {
    position: absolute;
    bottom: 0;
    left: 0;
}

.passageway-box.bl {
    position: absolute;
    top: 0;
    right: 0;
}

.passageway-box.br {
    position: absolute;
    top: 0;
    left: 0;
}

.rotate-45-left {
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.rotate-45-right {
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hallway-ver {
    background: #1D1E2C;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    border-left: #f8f9fa solid 40px;
    border-right: #f8f9fa solid 40px;
}

.hallway-hor {
    background: #1D1E2C;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    border-top: #f8f9fa solid 40px;
    border-bottom: #f8f9fa solid 40px;
}

#charactersRadios input[type=radio] {
    display: None;
}

#charactersRadios img:hover {
    cursor: pointer;
}

#charactersRadios input[type=radio]:checked + label > img {
    color: white;
}

#charactersRadios input[type=radio]:checked + label {
    color: white;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}

#charactersRadios input#MrsPeacock[type=radio]:checked + label > img,
#charactersRadios input#MrsPeacock[type=radio]:checked  + label {
    background-color: #669add;
}

#charactersRadios input#MsScarlet[type=radio]:checked + label > img,
#charactersRadios input#MsScarlet[type=radio]:checked  + label {
    background-color: #ca0001;
}

#charactersRadios input#MrsWhite[type=radio]:checked + label > img,
#charactersRadios input#MrsWhite[type=radio]:checked  + label {
    color: black;
    background-color: #ededee;
}

#charactersRadios input#MrGreen[type=radio]:checked + label > img,
#charactersRadios input#MrGreen[type=radio]:checked  + label {
    background-color: #cbda3a;
}

#charactersRadios input#ColonelMustard[type=radio]:checked + label > img,
#charactersRadios input#ColonelMustard[type=radio]:checked  + label {
    background-color: #efc210;
}

#charactersRadios input#ProfessorPlum[type=radio]:checked + label > img,
#charactersRadios input#ProfessorPlum[type=radio]:checked  + label {
    background-color: #d0bed5;
}

#charactersRadios label:hover {
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}

#charactersRadios label[for=MrsPeacock]:hover {
    background-color: #669add;
}

#charactersRadios label[for=MsScarlet]:hover {
    background-color: #ca0001;
}

#charactersRadios label[for=MrsWhite]:hover {
    background-color: #ededee;
    color: black;
}

#charactersRadios label[for=MrGreen]:hover {
    background-color: #cbda3a;
}

#charactersRadios label[for=ColonelMustard]:hover {
    background-color: #efc210;
}

#charactersRadios label[for=ProfessorPlum]:hover {
    background-color: #d0bed5;
}