{% extends "base.html" %}

{% block content %}

<div class="alert alert-primary" role="alert">
  Foundations of Software Engineering - Developed by Ranbir Aulakh, Parth Jalundhwala, Michael Knatz, and Victoria Palaoro
</div>

<div class="alert alert-primary" role="alert">
    <p>Programming/Resources Used:</p>
    <ul>
        <li>Python</li>
        <li>Django</li>
        <li>Django-Channels</li>
        <li>Django-Redis</li>
        <li>Clues Characters Images from http://trikita.co/pixels/</li>
        <li>Clues Weapons Images from http://trikita.co/pixels/</li>
    </ul>
</div>

{% endblock %}