{% extends "base.html" %}
{% block tab_title %} Create Game {% endblock %}
{% block content %}
    <form method="post" class="col-md-4 col-sm-6">
        <h2>Create a Game</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button id="submitBtn" class="btn btn-block btn-success" type="submit">Create Game</button>
    </form>
    <script>
        $('#id_type').change(function() {
            var value = $(this).val();
            if(value == "Private"){
                $('#password_input').remove();
                $('<div class="form-group" id="password_input">\n' +
                    '            <label for="exampleFormControlInput1">Password (Leave blank to generate one)</label>\n' +
                    '            <input type="text" class="form-control" id="password" placeholder="">\n' +
                    '        </div>').insertBefore('#submitBtn')
            } else {
                $('#password_input').remove();
            }
        })
    </script>

{% endblock %}