{% extends "base.html" %}

{% block content %}
    <div class="card mb-12 bg-dark text-white">
        <div class="card-header sb-nav-link-icon"><i class="fas fa-gamepad"></i> Available Games</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 pb-3">
                    <button type="button" class="btn btn-sm btn-primary"><i class="fas fa-sync"></i> Refresh</button>
                </div>
            </div>
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Lobby</th>
                        <th scope="col">Started</th>
                        <th scope="col">Type</th>
                        <th scope="col">Players</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in list_games %}
                        <tr>
                            <th scope="row">{{ item.id }}</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.created_date }}</td>
                            <td>{{ item.type }}</td>
                            <td>1/4</td>
                            <td>
                                <a style="margin-top: -7px"  class="btn btn-sm btn-primary" href="/game/{{ item.id }}" role="button"><i class="fas fa-gamepad"></i> Join</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
{% endblock %}