{% extends "base.html" %}

{% block content %}
    <div class="card mb-12">
        <div class="card-header sb-nav-link-icon"><i class="fas fa-gamepad"></i> Available Games</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 pb-3">
                    <a href="/find_game" type="button" class="btn btn-sm btn-primary"><i class="fas fa-sync"></i> Refresh</a>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Lobby</th>
                        <th scope="col">Started</th>
                        <th scope="col">Type</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in list_games %}
                        <tr>
                            <th scope="row">{{ item.id }}</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.created_date }}</td>
                            <td>{{ item.type  }}</td>
                            <td>
                                {% if item.is_joinable %}
                                    <a style="margin-top: -7px"  class="btn btn-sm btn-primary" href="/game/{{ item.id }}" role="button"><i class="fas fa-gamepad"></i> Join</a>
                                {% else %}
                                    <a style="margin-top: -7px" href="#" class="btn btn-secondary btn-sm disabled" role="button" aria-disabled="true"><i class="fas fa-gamepad"></i> Lobby is Full!</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>

    <div class="card mb-12">
        <div class="card-header sb-nav-link-icon"><i class="fas fa-trophy"></i> Recent Games</div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Lobby</th>
                        <th scope="col">Started</th>
                        <th scope="col">Type</th>
                        <th scope="col">Winner</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in finished_games %}
                        <tr>
                            <th scope="row">{{ item.id }}</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.created_date }}</td>
                            <td>{{ item.type  }}</td>
                            <td>{{ item.winner  }}</td>
                            <td><a style="margin-top: -7px"  class="btn btn-sm btn-primary" href="/recent_game/{{ item.id }}" role="button"><i class="fas fa-gamepad"></i> View Game Log</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}