{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class=""> <!-- Took out container (does it look good? idk) -->
        <div class="row">
            <div class="col-md-12">
                <div id="incorrect-noti">

                </div>
                <div id="winner">

                </div>
                <h4>Players & Locations</h4>
                <div class="breadcrumb bg-dark list-inline text-black" id="players_details">
                </div>
                <h4>Your Cards</h4>
                <div class="breadcrumb bg-dark list-inline text-black d-flex mb-3 p-2" id="your_cards">

                </div>
            </div>

            <div class="col-md-8 col-lg-9 col-xl-9 pt-2">
                <a id="game-show-moves-modal" type="button" class="btn btn-secondary disabled" data-toggle="modal" data-target="#showAvailableMoves">
                    Make Move
                </a>
                <a id="game-show-suggestion-modal" type="button" class="btn btn-secondary disabled" role="button" data-toggle="modal" data-target="#makeSuggestionModal">
                    Suggest
                </a>
                <a id="game-accuse-modal" type="button" class="btn btn-secondary disabled" role="button" data-toggle="modal" data-target="#accuseModal">
                    Accuse
                </a>
                <a id="game-end-turn-submit" type="button" class="btn btn-secondary disabled" role="button">
                    End Turn
                </a>
                <nav class="mt-3">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Game Log</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Map</a>
                        <a class="nav-item nav-link" id="nav-game-details-tab" data-toggle="tab" href="#nav-game-details" role="tab" aria-controls="nav-game-details" aria-selected="false">Game Details</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="form-group mt-3">
                            <textarea class="form-control" id="game-log" rows="20" disabled></textarea>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        {% include "game/map.html" %}
                    </div>
                    <div class="tab-pane fade" id="nav-game-details" role="tabpanel" aria-labelledby="nav-game-details-tab">
                        <br/>
                        <ul class="list-group mb-3">
                            <li class="list-group-item text-center">Game Piece Character</li>
                            <li id="game_piece_character" class="list-group-item">
                            </li>
                        </ul>
                        <ul class="list-group mb-3">
                            <li class="list-group-item text-center">Game Details</li>
                            <li id="game_id" class="list-group-item"><i class="fa fa-passport"></i> {{ game_details.id }}</li>
                            <li class="list-group-item"><i class="fa fa-gamepad"></i> {{ game_details.name }}'s Lobby</li>
                            <li class="list-group-item"><i class="fa fa-unlock-alt"></i> {{ game_details.type }}</li>
                            <li class="list-group-item"><i class="fa fa-calendar"></i> {{ game_details.created_date }}</li>
                            <li id="game-status" class="list-group-item"><i class="fa fa-hourglass-start"></i> Not Started </li>
                            <li id="game-required-players" class="list-group-item"><i class="fa fa-users"></i> Required {{ game_details.required_players }} Players </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <div class="card">
                    <div class="card-header">
                        Notepad
                    </div>
                    <div class="card-body overflow-auto">
                        {% include "game/notepad.html" %}
                    </div>
                </div>
                <button type="button" class="btn btn-danger btn-block mt-3" data-toggle="modal" data-link="/find_game" data-target="#leaveGameModal">
                    Quit Game
                </button>
            </div>

{#            <div id="approveCheckboxes">#}
{#                <div class="form-check pt-2">#}
{#                    <input name="approved_cards_checkbox" type="checkbox" class="form-check-input" id="ColonelMustardCheckbox" value="ColonelMustard"/>#}
{#                    <label class="form-check-label" for="ColonelMustardCheckbox">#}
{#                        <img class="rounded" src="{% static "images/ColonelMustard.png" %}" width="50" height="50" for="ColonelMustardCheckbox"></img>#}
{#                        Colonel Mustard#}
{#                    </label>#}
{#                </div>#}
{#                <div class="form-check pt-2">#}
{#                    <input name="approved_cards_checkbox" type="checkbox" class="form-check-input" id="PlumProfessor" value="ColonelMustard"/>#}
{#                    <label class="form-check-label" for="PlumProfessor">#}
{#                        <img class="rounded" src="{% static "images/ProfessorPlum.png" %}" width="50" height="50" for="PlumProfessor"></img>#}
{#                        Colonel Mustard#}
{#                    </label>#}
{#                </div>#}
{#            </div>#}

            <!-- Popup Modals -->
            {% include "modals/choose_character.html" %}
            {% include "modals/show_available_moves.html" %}
            {% include "modals/make_suggestion.html" %}
            {% include "modals/accuse.html" %}
            {% include "modals/approve_disapprove.html" %}
            {% include "modals/choose_one_approved_card.html" %}
            {% include "modals/leave_game.html" %}

        </div>
    </div>

    <script src="{%  static "js/messages.js"%}"></script>

{% endblock %}