{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3">
                <ul class="breadcrumb bg-dark list-inline justify-content-center text-white" id="players_lobby">
                </ul>
            </div>

            <div class="p-2 col-md-3">
                <ul class="list-group mb-3">
                    <li class="list-group-item text-center">Game Piece Character</li>
                    <li id="game_piece_character" class="list-group-item">
                    </li>
                </ul>
                <ul class="list-group mb-3" id="your_cards">
                    <li class="list-group-item text-center">Your Cards</li>
                </ul>
                <ul class="list-group mb-3" id="players_location">
                    <li class="list-group-item text-center">Players Locations</li>
                </ul>
                <ul class="list-group mb-3">
                    <li class="list-group-item text-center">Game Details</li>
                    <li id="game_id" class="list-group-item"><i class="fa fa-passport"></i> {{ game_details.id }}</li>
                    <li class="list-group-item"><i class="fa fa-gamepad"></i> {{ game_details.name }}'s Lobby</li>
                    <li class="list-group-item"><i class="fa fa-unlock-alt"></i> {{ game_details.type }}</li>
                    <li class="list-group-item"><i class="fa fa-calendar"></i> {{ game_details.created_date }}</li>
                    <li id="game-status" class="list-group-item"><i class="fa fa-hourglass-start"></i> Not Started </li>
                    <li id="game-required-players" class="list-group-item"><i class="fa fa-users"></i> Required {{ game_details.required_players }} Players </li>
                </ul>
                <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#leaveGame">
                    Leave Game
                </button>
            </div>
            <div class="col-md-9 pt-2">
                <a id="game-show-moves-modal" type="button" class="btn btn-secondary disabled" data-toggle="modal" data-target="#showAvailableMoves">
                    Make Moves
                </a>
                <a id="game-suggestion-submit" class="btn btn-secondary disabled" role="button" aria-disabled="true">Make Suggestion</a>
                <a id="game-accuse-submit" class="btn btn-secondary disabled" role="button" aria-disabled="true">Accuse</a>
                <nav class="mt-3">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Game Log</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Map</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="form-group mt-3">
                            <textarea class="form-control" id="game-log" rows="20" disabled></textarea>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="board mt-3">
                            <div class="room-box">STUDY
                                <div class="passageway-box tl">
                                    <i class="fas fa-arrow-down rotate-45-left"></i>
                                </div>
                            </div>
                            <div class="hallway-hor"></div>
                            <div class="room-box">HALL</div>
                            <div class="hallway-hor"></div>
                            <div class="room-box">LOUNGE
                                <div class="passageway-box tr">
                                    <i class="fas fa-arrow-down rotate-45-right"></i>
                                </div>
                            </div>

                            <div class="hallway-ver"></div>
                            <div class="square"></div>
                            <div class="hallway-ver"></div>
                            <div class="square"></div>
                            <div class="hallway-ver"></div>

                            <div class="room-box">LIBRARY</div>
                            <div class="hallway-hor"></div>
                            <div class="room-box">BILLIARD ROOM</div>
                            <div class="hallway-hor"></div>
                            <div class="room-box">DINING ROOM</div>


                            <div class="hallway-ver"></div>
                            <div class="square"></div>
                            <div class="hallway-ver"></div>
                            <div class="square"></div>
                            <div class="hallway-ver"></div>

                            <div class="room-box">CONSERVATORY
                                <div class="passageway-box bl">
                                    <i class="fas fa-arrow-up rotate-45-right"></i>
                                </div>
                            </div>
                            <div class="hallway-hor"></div>
                            <div class="room-box">BALLROOM</div>
                            <div class="hallway-hor"></div>
                            <div class="room-box">KITCHEN
                                <div class="passageway-box br">
                                    <i class="fas fa-arrow-up rotate-45-left"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="chooseCharacterModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Please select your game character</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="charactersRadios">

                        </div>
                        <div class="modal-footer">
                            <a id="game-player-chosen-submit" type="button" class="btn btn-primary text-white">Confirm Selection</a>
                            <a href="/find_game" class="btn btn-secondary"> Leave Game</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="showAvailableMoves" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Available moves to make</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <b>Current Location: </b>
                                <div id="current_position">
                                    You are at TEXT
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Where would you like to move? </label>
                                <select class="form-control" id="availableMovesOptions">

                                </select>
                            </div>
                            <b>Map reference:</b>
                            <img class="img-fluid" src="{%  static "images/clueless_map.PNG"%}" />
                        </div>
                        <div class="modal-footer">
                            <a id="game-move-selection-submit" type="button" class="btn btn-primary text-white">Confirm Selection</a>
                            <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="leaveGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Leave game?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to leave the game?</p>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">Cancel</a>
                            <a href="/find_game" class="btn btn-danger"> Leave</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{%  static "js/messages.js"%}"></script>
    <script src="{%  static "js/scripts.js"%}"></script>


{% endblock %}