{% extends "base.html" %}
</head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
	<div id="Suspects" class="header">
		<h2>Suspects</h2>
	</div>
	<table>
		<tr>
			<td>Ms. Scarlet</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Col. Mustard</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Mr. Green</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Mrs. White</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Prof. Plum</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Mrs. Peacock</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
	</table>
	<div id="Weapons" class="header">
		<h2>Weapons</h2>
	</div>
	<table>
		<tr>
			<td>Revolver</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Dagger</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Lead Pipe</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Rope</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Wrench</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Candle Stick</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
	</table>
	<div id="Rooms" class="header">
		<h2>Suspects</h2>
	</div>
<table>
		<tr>
			<td>Study</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Hall</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Lounge</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Library</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Billiard Room</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Dining Room</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Conservatory</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Ballroom</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
		<tr>
			<td>Kitchen</td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
			<td><input type="checkbox"/></td>
		</tr>
	</table>
</body>