{% extends "base.html" %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="alert bg-warning text-white" role="alert">
        To view your own personal stats, please login!
        </div>
    {% else %}
        <h2>Your Personal Record</h2>
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-header text-center sb-nav-link-icon"><i class="fas fa-gamepad"></i> Total Games Played</div>
                    <div class="card-body text-center display-4">{{ user_stats.total_game }}</div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-header text-center sb-nav-link-icon"><i class="fas fa-trophy"></i> Total Wins</div>
                    <div class="card-body text-center display-4">{{ user_stats.total_wins }}</div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-header text-center sb-nav-link-icon"><i class="fas fa-poop"></i> Total Loss</div>
                    <div class="card-body text-center display-4">{{ user_stats.total_loss }}</div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-header text-center sb-nav-link-icon"><i class="fas fa-user-graduate"></i> Most Chosen Character</div>
                    <div class="card-body text-center display-4">{{ user_most_chosen_character }}</div>
                </div>
            </div>
        </div>
    {% endif %}

    <h2>Global Statistic</h2>
    <div class="row">
        <div class="col-xl-4 col-md-4">
            <div class="card bg-dark text-white mb-4">
                <div class="card-header text-center sb-nav-link-icon"><i class="fas fa-users"></i> Total Users</div>
                <div class="card-body text-center display-4">{{ users_count }}</div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4">
            <div class="card bg-dark text-white mb-4">
                <div class="card-header text-center sb-nav-link-icon"><i class="fas fa-gamepad"></i> Total Games</div>
                <div class="card-body text-center display-4">{{ total_games }}</div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4">
            <div class="card bg-dark text-white mb-4">
                <div class="card-header text-center sb-nav-link-icon"><i class="fas fa-eye"></i> Total Accuse</div>
                <div class="card-body text-center display-4">{{ global_statistics.total_accuse }}</div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4">
            <div class="card bg-dark text-white mb-4">
                <div class="card-header text-center sb-nav-link-icon"><i class="fas fa-check-circle"></i> Total Accuse Success</div>
                <div class="card-body text-center display-4">{{ global_statistics.total_accuse_success }}</div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4">
            <div class="card bg-dark text-white mb-4">
                <div class="card-header text-center sb-nav-link-icon"><i class="fas fa-poop"></i> Total Accuse Failed</div>
                <div class="card-body text-center display-4">{{ global_statistics.total_accuse_failed }}</div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4">
            <div class="card bg-dark text-white mb-4">
                <div class="card-header text-center sb-nav-link-icon"><i class="fas fa-lightbulb"></i> Total Suggestions</div>
                <div class="card-body text-center display-4">{{ global_statistics.total_suggestion }}</div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4">
            <div class="card bg-dark text-white mb-4">
                <div class="card-header text-center sb-nav-link-icon"><i class="fas fa-user-graduate"></i> Most Chosen Character</div>
                <div class="card-body text-center display-4">{{ most_chosen_character }}</div>
            </div>
        </div>
    </div>

{% endblock %}