{% load static %}

<div class="container">
    <div class="boardV2" id="mapBoard">
        
        <div id="Study" class="board-room">
            <div class="passageway-tl"></div>
            <p>STUDY</p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div id="Study-Hall-Hallway" class="board-hallway-hor">
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div id="Hall" class="board-room">
            <p>HALL</p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div id="Hall-Lounge-Hallway" class="board-hallway-hor">
            <img class="rounded person" src="{% static "images/Ms.Scarlet.png" %}" alt />
        </div>
        <div id="Lounge" class="board-room">
            <div class="passageway-tr"></div>
            <p>LOUNGE</p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>

        <div id="Study-Library-Hallway" class="board-hallway-ver">
            <p></p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div>
        </div>
        <div id="Hall-Billiard-Room-Hallway" class="board-hallway-ver">
            <p></p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div>
        </div>
        <div id="Lounge-Dining-Room-Hallway" class="board-hallway-ver">
            <p></p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>

        <div id="Library" class="board-room">
            <p>LIBRARY</p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div id="Library-Billiard-Room-Hallway" class="board-hallway-hor">
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div id="Billiard-Room" class="board-room">
            <p>BILLIARD ROOM</p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div id="Billiard-Room-Dining-Room-Hallway" class="board-hallway-hor">
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div id="Dining" class="board-room">
            <p>DINING ROOM</p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>

        <div id="Library-Conservatory-Hallway" class="board-hallway-ver">
            <p></p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div>
        </div>
        <div id="Billiard-Room-Ballroom-Hallway" class="board-hallway-ver">
            <p></p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div>
        </div>
        <div id="Dining-Room-Kitchen-Hallway" class="board-hallway-ver">
            <p></p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>

        <div id="Conservatory" class="board-room">
            <div class="passageway-bl"></div>
            <p>CONSERVATORY</p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div id="Conservatory-Ballroom-Hallway" class="board-hallway-hor">
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div id="Ballroom" class="board-room">
            <p>BALLROOM</p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div id="Ballroom-Kitchen-Hallway" class="board-hallway-hor">
            <img class="rounded person" src="{% static "" %}" alt />
        </div>
        <div id="Kitchen" class="board-room">
            <div class="passageway-br"></div>
            <p>KITCHEN</p>
            <img class="rounded person" src="{% static "" %}" alt />
        </div>

    </div>
</div>
