<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../../resources/css/custom-style.css">
<link rel="stylesheet" type="text/css" href="board.css">
</head>
<body>
<div class="board mt-3">
    <div id="study" class="room-box">STUDY
        <img class = "person" src="../../resources/images/" />
        <div class="passageway-box tl">
            <i class="fas fa-arrow-down rotate-45-left"></i>
        </div>
    </div>
    <div id="studyhall" class="hallway-hor">
        <img class = "person" src="../../resources/images/" />
    </div>
    <div id="hall" class="room-box">HALL
        <img class = "person" src="../../resources/images/" />
    </div>
    <div id="halllounge" class="hallway-hor">
        <img class = "person" src="../../resources/images/Ms.Scarlet.png" />
    </div>
    <div id="lounge" class="room-box">LOUNGE
        <img class = "person" src="../../resources/images/" />
        <div class="passageway-box tr">
            <i class="fas fa-arrow-down rotate-45-right"></i>
        </div>
    </div>

    <div id="studylibrary" class="hallway-ver">
        <img class = "person" src="../../resources/images/ProfessorPlum.png" />
    </div>
    <div class="square"></div>
    <div id="hallbilliard" class="hallway-ver">
        <img class = "person" src="../../resources/images/" />
    </div>
    <div class="square"></div>
    <div id="loungediningroom" class="hallway-ver">
        <img class = "person" src="../../resources/images/ColonelMustard.png" />
    </div>

    <div class="room-box">LIBRARY
        <img class = "person" src="../../resources/images/" />
    </div>
    <div id = "librarybilliard" class="hallway-hor">
        <img class = "person" src="../../resources/images/" />
    </div>
    <div id = "billiard" class="room-box">BILLIARD ROOM
        <img class = "person" src="../../resources/images/" />
    </div>
    <div id="billiarddining" class="hallway-hor">
        <img class = "person" src="../../resources/images/" />
    </div>
    <div id = "dining" class="room-box">DINING ROOM
        <img class = "person" src="../../resources/images/" />
    </div>


    <div id="libraryconservatory" class="hallway-ver">
        <img src="../../resources/images/Mrs.Peacock.png" />
    </div>
    <div class="square"></div>
    <div id="billiardballroom" class="hallway-ver">
        <img class = "person" src="../../resources/images/" />
    </div>
    <div class="square"></div>
    <div id="diningkitchen" class="hallway-ver">
        <img class = "person" src="../../resources/images/" />
    </div>

    <div id="conservatory" class="room-box">CONSERVATORY
        <img class = "person" src="../../resources/images/" />
        <div class="passageway-box bl">
            <i class="fas fa-arrow-up rotate-45-right"></i>
        </div>
    </div>
    <div id="conservatoryballroom" class="hallway-hor">
        <img class = "person" src="../../resources/images/Mr.Green.png" />
    </div>
    <div id="ballroom" class="room-box">BALLROOM
        <img class = "person" src="../../resources/images/" />
    </div>
    <div id="ballroomkitchen" class="hallway-hor">
        <img class = "person" src="../../resources/images/Mrs.White.png" />
    </div>
    <div id="kitchen" class="room-box">KITCHEN
        <img class = "person" src="../../resources/images/" />
        <div class="passageway-box br">
            <i class="fas fa-arrow-up rotate-45-left"></i>
        </div>
    </div>
    
</div>
</body>
</html>
