<div class="board mt-3">
    <div class="room-box">STUDY
        <div class="passageway-box tl">
            <i class="fas fa-arrow-down rotate-45-left"></i>
        </div>
    </div>
    <div class="hallway-hor"></div>
    <div class="room-box">HALL</div>
    <div class="hallway-hor"></div>
    <div class="room-box">LOUNGE
        <div class="passageway-box tr">
            <i class="fas fa-arrow-down rotate-45-right"></i>
        </div>
    </div>

    <div class="hallway-ver"></div>
    <div class="square"></div>
    <div class="hallway-ver"></div>
    <div class="square"></div>
    <div class="hallway-ver"></div>

    <div class="room-box">LIBRARY</div>
    <div class="hallway-hor"></div>
    <div class="room-box">BILLIARD ROOM</div>
    <div class="hallway-hor"></div>
    <div class="room-box">DINING ROOM</div>


    <div class="hallway-ver"></div>
    <div class="square"></div>
    <div class="hallway-ver"></div>
    <div class="square"></div>
    <div class="hallway-ver"></div>

    <div class="room-box">CONSERVATORY
        <div class="passageway-box bl">
            <i class="fas fa-arrow-up rotate-45-right"></i>
        </div>
    </div>
    <div class="hallway-hor"></div>
    <div class="room-box">BALLROOM</div>
    <div class="hallway-hor"></div>
    <div class="room-box">KITCHEN
        <div class="passageway-box br">
            <i class="fas fa-arrow-up rotate-45-left"></i>
        </div>
    </div>
</div>