{% load static %}
<link rel="stylesheet" href="{% static "css/bootstrap-select.min.css" %}">
<script src="{%  static "js/bootstrap-select.min.js"%}"></script>

<style>
    td {
        padding: 5px;
    }
    .dropdown-toggle::after {
        display:none;
    }
</style>
<body>
	<table id="notepad">
        <tr class="notepad-header">
            <td class="font-weight-bold">Suspects</td>
        </tr>
        <tbody class="table-col">
            <tr>
                <td>Ms. Scarlet</td>
            </tr>
            <tr>
                <td>Col. Mustard</td>
            </tr>
            <tr>
                <td>Mr. Green</td>
            </tr>
            <tr>
                <td>Mrs. White</td>
            </tr>
            <tr>
                <td>Prof. Plum</td>
            </tr>
            <tr>
                <td>Mrs. Peacock</td>
            </tr>
        </tbody>
        <tr>
            <td class="font-weight-bold">Weapons</td>
        </tr>
        <tbody class="table-col">
            <tr>
                <td>Revolver</td>
            </tr>
            <tr>
                <td>Dagger</td>
            </tr>
            <tr>
                <td>Lead Pipe</td>
            </tr>
            <tr>
                <td>Rope</td>
            </tr>
            <tr>
                <td>Wrench</td>
            </tr>
            <tr>
                <td>Candlestick</td>
            </tr>
        </tbody>
        <tr>
            <td class="font-weight-bold">Rooms</td>
        </tr>
        <tbody class="table-col">
            <tr>
                <td>Study</td>
            </tr>
            <tr>
                <td>Hall</td>
            </tr>
            <tr>
                <td>Lounge</td>
            </tr>
            <tr>
                <td>Library</td>
            </tr>
            <tr>
                <td>Billiard Room</td>
            </tr>
            <tr>
                <td>Dining Room</td>
            </tr>
            <tr>
                <td>Conservatory</td>
            </tr>
            <tr>
                <td>Ballroom</td>
            </tr>
            <tr>
                <td>Kitchen</td>
            </tr>
        </tbody>

	</table>
</body>